.user-dashboard{
    margin-top: 30px;
    margin-bottom: 30px;
}
.icon-stat {
    display: block;
    overflow: hidden;
    position: relative;
    padding: 15px;
    margin-bottom: 1em;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ddd;
}
.first{
    background-color: green;
    color: white;
}
.second{
    background-color: blue;
    color: white;
}
.third{
    background-color: crimson;
    color: white;
}
.fourth{
    background-color: goldenrod;
    color: white;
}
.icon-stat-label {
    display: block;
    /* color: #999; */
    color: white;
    font-weight: 600;
    font-size: 13px;
}
.icon-stat-value {
    display: block;
    font-size: 28px;
    font-weight: 600;
}
.icon-stat-visual {
    position: relative;
    top: 22px;
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
}
.bg-primary {
    color: #fff;
    background: #d74b4b;
}
.bg-secondary {
    color: #fff;
    background: #6685a4;
}

.icon-stat-footer {
    padding: 10px 0 0;
    margin-top: 10px;
    /* color: #aaa; */
    color: white;
    font-size: 13px;
    font-weight: 600;
    border-top: 1px solid #eee;
}
.status-success, .status-delivering{
    padding: 3px 15px 5px 15px;
    font-weight: 600;
}
.order__title {
    color: #111111;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 0px solid #d7d7d7 !important;
    padding-bottom: 0px !important;
    margin-bottom: 30px;
}
.order_title{
    color: #111111;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 0px solid #d7d7d7 !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}
.checkout__total__all {
    border-top: 1px solid #d7d7d7;
    border-bottom: 0px solid #d7d7d7 !important;
    padding: 15px 0;
    margin-bottom: 26px;
}