.product__item__text h5 {
    color: #0d0d0d;
    font-weight: 700;
    margin-bottom: 16px;
}
.product__item__text h5 span {
    color: #b7b7b7;
    font-size: 18px !important;
    font-weight: 400;
    margin-left: 10px;
    text-decoration: line-through;
}